
params {

	  mouse_reference_genome               = "/projects/chuang-lab/USERS/domans/reference/refdata-gex-mm10-2020-A"
    human_reference_genome               = "/projects/chuang-lab/USERS/domans/reference/refdata-gex-GRCh38-2020-A"
	
	  xenome_reference_graft               = "/projects/chuang-lab/USERS/domans/reference/GCA_009914755.4_T2T-CHM13v2.0_genomic.fna.gz"
    xenome_reference_host                = "/projects/churchill-lab/resource/Custom_Genomes/R84-REL1505/NOD_ShiLtJ/NOD_ShiLtJ.fa"
    xenome_kmer_size                     = 35
	
    bafextract_minimum_mapping_quality   = 50
    bafextract_minimum_base_quality      = 0
    bafextract_min_coverage_per_SNV      = 20
    bafextract_min_MAF_covg_per_SNV      = 4
    bafextract_min_MAF                   = 0.1
	
	  target_mpp                        = 0.22075
    
    tiled_tiff_tile_size              = 1024
    thumbnail_downsample_factor       = 0.05
    
    stain_normalization               = true
    macenko_normalization             = true
    stain_reference_image             = "/projects/chuang-lab/USERS/domans/containers/sample_WM4007_T3_S1_ST.tif"
    stain_patch_size                  = 512
    
    mask_background_cutoff            = 210.0
   
    pixel_mask_threshold_low          = 100
    pixel_mask_threshold_high         = 200
    
    use_provided_grid                 = true
        
    grid_type                         = 'hex'
    grid_spot_diamter                 = 65
       
    grid_spot_horizontal_spacing      = 100
    grid_aspect_correction            = 0.95
    
    fraction_for_mask                 = 0.1
    
    overlap_scale_factor              = 1
    
    sample_tiles_subworkflow          = false
    
    hovernet_segmentation             = true
    
    hovernet_spot_assignment_factor   = 1
    hovernet_spot_assignment_shape    = 'square'
    
    hovernet_min_cell_type_prob       = 0.75
    hovernet_batch_size               = 1
    hovernet_num_inference_workers    = 1
    hovernet_chunk_size               = 4096
    hovernet_tile_size                = 1024
    
    tiles_per_slide                   = 100
    
}
