
params {

    reference_genome                         = "/projects/chuang-lab/USERS/domans/reference/refdata-gex-GRCh38-and-mm10-2020-A"
    
    do_splicing_quantification               = true
    do_snv_extract                           = true
    do_img_subworkflow                       = true

    if (params.do_snv_extract) {
        bafextract_minimum_mapping_quality   = 50
        bafextract_minimum_base_quality      = 0
        bafextract_min_coverage_per_SNV      = 20
        bafextract_min_MAF_covg_per_SNV      = 4
        bafextract_min_MAF                   = 0.1
    }
}
