
params {

    do_nuclear_sementation            = true
    do_imaging_anndata                = true
    do_superpixels                    = true
    export_superpixels_contours       = true
    check_focus                       = false

    target_mpp                        = 0.2208187960959237

    thumbnail_downsample_factor       = 0.025
    
    stain_normalization               = false
    macenko_normalization             = true
    stain_reference_image             = "/projects/activities/kappsen-tmc/histology/image-sample.ome.tif"
    
    hovernet_segmentation             = true
    
    stardist_block_size               = 4096
    stardist_expand_size              = 15
    
    superpixel_compactness            = 1
    pixels_per_segment                = 10000
    superpixel_patch_size             = 2048
    superpixel_downsampling_factor    = 4
    
    expand_nuclei_distance            = 15

}
