
params {

    if (params.workflow == 'one_reference') {
        reference_genome                 = "/projects/chuang-lab/USERS/domans/reference/refdata-gex-GRCh38-and-mm10-2020-A"
        
        do_splicing_quantification           = true
        do_snv_extract                       = true
        do_img_subworkflow                   = true

        if (params.do_snv_extract) {
            bafextract_minimum_mapping_quality   = 50
            bafextract_minimum_base_quality      = 0
            bafextract_min_coverage_per_SNV      = 20
            bafextract_min_MAF_covg_per_SNV      = 4
            bafextract_min_MAF                   = 0.1
        }
    }
    else if (params.workflow == 'two_references') {
        do_merge_mtx                     = true
        
        mouse_reference_genome           = "/projects/chuang-lab/USERS/domans/reference/refdata-gex-mm10-2020-A"
        human_reference_genome           = "/projects/chuang-lab/USERS/domans/reference/refdata-gex-GRCh38-2020-A"
    	
        xenome_reference_graft           = "/projects/chuang-lab/USERS/domans/reference/GCA_009914755.4_T2T-CHM13v2.0_genomic.fna.gz"
        xenome_reference_host            = "/projects/churchill-lab/resource/Custom_Genomes/R84-REL1505/NOD_ShiLtJ/NOD_ShiLtJ.fa"
        xenome_kmer_size                 = 35

        do_splicing_quantification           = true
        do_snv_extract                       = true
        do_img_subworkflow                   = true

        if (params.do_snv_extract) {
            bafextract_minimum_mapping_quality   = 50
            bafextract_minimum_base_quality      = 0
            bafextract_min_coverage_per_SNV      = 20
            bafextract_min_MAF_covg_per_SNV      = 4
            bafextract_min_MAF                   = 0.1
        }
    }
    else if (params.workflow == 'arbitrary_grid') {

        stain_normalization              = false
        do_nuclear_sementation           = true
        do_superpixels                   = false
        check_focus                      = true
        extract_tile_features            = true
        sample_tiles_subworkflow         = false
        do_imaging_anndata               = true
        
        target_mpp                       = 0.22075
        
        tiled_tiff_tile_size             = 1024
        thumbnail_downsample_factor      = 0.05
        
        mask_background_cutoff           = 210.0
       
        pixel_mask_threshold_low         = 100
        pixel_mask_threshold_high        = 200
        
        use_provided_grid                = true
            
        grid_type                        = 'hex'
        grid_spot_diamter                = 65
        grid_spot_horizontal_spacing     = 100
        grid_aspect_correction           = 0.95
        
        fraction_for_mask                = 0.1
        
        overlap_scale_factor             = 1

 	
        if (params.stain_normalization) {
            macenko_normalization         = true
            
            if (params.macenko_normalization) {
                stain_reference_image     = "/projects/chuang-lab/USERS/domans/containers/sample_WM4007_T3_S1_ST.tif"
                stain_patch_size          = 512
            }
        }
    
        if (params.do_nuclear_sementation) {
            hovernet_segmentation         = false
            
            if (params.hovernet_segmentation) {
                hovernet_device_mode      = "cpu"
                
                hovernet_spot_assignment_factor   = 1
                hovernet_spot_assignment_shape    = 'square'
                
                hovernet_min_cell_type_prob       = 0.75
                hovernet_batch_size               = 1
                hovernet_num_inference_workers    = 1
                hovernet_chunk_size               = 4096
                hovernet_tile_size                = 1024
                 
                if (params.hovernet_device_mode == 'gpu') {
                    hovernet_batch_size           = 32
                    hovernet_num_inference_workers= 8
                }
                else if (params.hovernet_device_mode == 'cpu') {
                    hovernet_batch_size           = 1
                    hovernet_num_inference_workers= 1  
                }    
            }
            else {
                stardist_block_size       = 4096
                stardist_expand_size      = 15
            }
        }
    
        if (params.do_superpixels) {
            export_superpixels_contours      = false
            
            superpixel_compactness           = 1
            pixels_per_segment               = 10000
            superpixel_patch_size            = 2048
            superpixel_downsampling_factor   = 4
            
            expand_nuclei_distance           = 15
        }
        
        if (params.sample_tiles_subworkflow) {
            tiles_per_slide                   = 100
        }
    }
}
