
params {

    stain_normalization              = true
    do_nuclear_sementation           = true
    do_superpixels                   = true
    check_focus                      = true
    extract_tile_features            = true
    sample_tiles_subworkflow         = true
    do_imaging_anndata               = true
    
    target_mpp                       = 0.25
    
    tiled_tiff_tile_size             = 1024
    thumbnail_downsample_factor      = 0.05
    
    mask_background_cutoff           = 210.0
   
    pixel_mask_threshold_low         = 100
    pixel_mask_threshold_high        = 200
    
    use_provided_grid                = true
        
    grid_type                        = 'square' // 'hex' 'square'
    grid_spot_diamter                = 64 // visium=65
    grid_spot_horizontal_spacing     = params.grid_spot_diamter // visium=100
    grid_aspect_correction           = 0.95
    
    fraction_for_mask                = 0.1
    
    downsample_expanded_tile         = true
    expansion_factor                 = 1.0 // if downsampling, then this factor will be rounded up to integer 1.25 -> 2


    if (params.stain_normalization) {
        macenko_normalization         = true
        
        if (params.macenko_normalization) {
            stain_reference_image     = "/projects/chuang-lab/USERS/domans/containers/sample_WM4007_T3_S1_ST.tif"
            stain_patch_size          = 512
        }
        else {
            stainnet                  = "/projects/chuang-lab/USERS/domans/containers/StainNet-Public_layer3_ch32.pth"
        }
    }


    if (params.sample_tiles_subworkflow) {        
        hovernet_device_mode              = "gpu"
        hovernet_batch_size               = 1
        hovernet_num_inference_workers    = 1
        hovernet_spot_assignment_factor   = 1
        hovernet_spot_assignment_shape    = 'square'
        hovernet_min_cell_type_prob       = 0.75
        hovernet_chunk_size               = 4096
        hovernet_tile_size                = 1024        
    }


    if (params.do_nuclear_sementation) {
        nuclei_segmentation_dir       = "nucseg"
        
        hovernet_segmentation         = false
        
        if (params.hovernet_segmentation) {
            hovernet_device_mode      = "gpu"
            
            hovernet_spot_assignment_factor   = 1
            hovernet_spot_assignment_shape    = 'square'
            
            hovernet_min_cell_type_prob       = 0.75
            hovernet_batch_size               = 1
            hovernet_num_inference_workers    = 1
            hovernet_chunk_size               = 4096
            hovernet_tile_size                = 1024
             
            if (params.hovernet_device_mode == 'gpu') {
                hovernet_batch_size           = 32
                hovernet_num_inference_workers= 8
            }
            else if (params.hovernet_device_mode == 'cpu') {
                hovernet_batch_size           = 1
                hovernet_num_inference_workers= 1  
            }    
        }
        else {
            stardist_model            = "/projects/chuang-lab/USERS/domans/containers/stardist-models.v0.1/python_2D_versatile_he/"
            stardist_block_size       = 4096
            stardist_expand_size      = 15
        }
    }


    if (params.do_superpixels) {
        export_superpixels_contours      = true
        
        superpixel_compactness           = 1
        pixels_per_segment               = 10000
        superpixel_patch_size            = 2048
        superpixel_downsampling_factor   = 4
        
        od_block_size                    = 4096
        
        expand_nuclei_distance           = 15
    }
    
    if (params.sample_tiles_subworkflow) {
        tiles_per_slide                   = 25
    }
}
