
params {

    do_nuclear_sementation           = false
    check_focus                      = false
    extract_tile_features            = true
    sample_tiles_subworkflow         = false
    do_imaging_anndata               = true
        
    grid_type                        = 'square' // 'hex' 'square'
    grid_spot_diamter                = 56 // visium=65
    grid_spot_horizontal_spacing     = 28 // visium=100
    
    fraction_for_mask                = 0.1
    
    do_clustering                    = true

    downsample_expanded_tile         = true
    expansion_factor                 = [2] // if downsampling, then this factor will be rounded up to integer 1.25 -> 2
    subtiling                        = false
    subcoords_factor                 = 4
    subcoords_list                   = '[[1, 1], [3, 1], [2, 2], [1, 3], [3, 3]]'

    if (params.do_clustering) {
        expansion_factor_for_clustering  = 2 // one of expansion_factor
        suffix_for_clustering            = 'ctranspath' // 'ctranspath' or 'inception'
        plot_dpi                         = 300
    }
    
    if (params.extract_tile_features) {
        // *.tsv.gz features are posted in './features/'

        extract_inception_features   = false 
        extract_transpath_features   = true // if true then these will be in the merged data
        
        if (params.extract_transpath_features) {
            transpath_features_model     = 'CTransPath' // 'CTransPath', or 'MoCoV3'
            
            ctranspath_device_mode     = 'cpu'
            if (params.transpath_features_model == 'MoCoV3') {
                ctranspath_device_mode = 'gpu'
            }
        }
    }
}
