
params {

    tiled_tiff_tile_size              = 1024
    thumbnail_downsample_factor       = 0.05
   
    pixel_mask_threshold_low          = 100
    pixel_mask_threshold_high         = 200
    
    fraction_for_mask                 = 0.1
    
    overlap_scale_factor              = 1
    
    hovernet_spot_assignment_factor   = 1
    hovernet_spot_assignment_shape    = 'square'
    hovernet_min_cell_type_prob       = 0.75
    hovernet_batch_size               = 1
    hovernet_num_inference_workers    = 1
    hovernet_chunk_size               = 4096
    hovernet_tile_size                = 1024
    
}
