
params {

    mouse_reference_genome                   = "/projects/chuang-lab/USERS/domans/reference/refdata-gex-mm10-2020-A"
    human_reference_genome                   = "/projects/chuang-lab/USERS/domans/reference/refdata-gex-GRCh38-2020-A"

    xenome_reference_graft                   = "/projects/chuang-lab/USERS/domans/reference/GCA_009914755.4_T2T-CHM13v2.0_genomic.fna.gz"
    xenome_reference_host                    = "/projects/churchill-lab/resource/Custom_Genomes/R84-REL1505/NOD_ShiLtJ/NOD_ShiLtJ.fa"
    xenome_kmer_size                         = 35
    
    xenome_indices_path                      = "/projects/chuang-lab/PDXnet/xenome/indices/nod/t2t-k35"
    xenome_indices_name                      = "t2t_k35"

    do_splicing_quantification               = true
    do_snv_extract                           = true
    do_img_subworkflow                       = true

    if (params.do_snv_extract) {
        bafextract_minimum_mapping_quality   = 50
        bafextract_minimum_base_quality      = 0
        bafextract_min_coverage_per_SNV      = 20
        bafextract_min_MAF_covg_per_SNV      = 4
        bafextract_min_MAF                   = 0.1
    }

    do_merge_mtx                             = true
}
