
params {

    // Short workflow skips metadata and ROI extraction, resizing
    // stain normalization, conversion to OME-TIFF
    short_workflow                   = true
    reuse_previous_run               = true && params.short_workflow

    stain_normalization              = true && !params.short_workflow
    do_nuclear_segmentation          = true && !params.short_workflow
    check_focus                      = false && !params.short_workflow
    extract_tile_features            = true
    sample_tiles_subworkflow         = false && !params.short_workflow
    do_segmentation_anndata          = false && !params.short_workflow
    do_imaging_anndata               = true && !params.short_workflow
    export_image                     = true && !params.short_workflow
    export_image_metadata            = true && !params.short_workflow
    do_superpixels                   = false && !params.short_workflow
    do_clustering                    = true && !params.short_workflow

    target_mpp                       = 0.25
    nuclear_expansion                = 3.0 // microns
    
    compression                      = 'JPEG-2000 Lossy' // 'JPEG-2000 Lossy' 'LZW'
    tifffile_compression             = 'JPEG' // 'LZW' or 'JPEG'
    pyramid_scale                    = 4
    tiled_tiff_tile_size             = 1024
    thumbnail_downsample_factor      = 0.05
    
    mask_background_cutoff           = 210.0
    pixel_mask_threshold_low         = 40
    
    use_provided_grid                = true  
    grid_type                        = 'square' // 'hex' 'square'
    grid_spot_diamter                = 56 // visium=65 // 56
    grid_spot_horizontal_spacing     = 56 // visium=100 // 112
    grid_aspect_correction           = 0.95
    
    fraction_for_mask                = 0.1
    
    downsample_expanded_tile         = true
    expansion_factor                 = [1, 2] // [1, 2, 3, 4] if downsampling, then this factor will be rounded up to integer 1.25 -> 2

    sampler_clusters_min_cell_count  = 1.0

    // Clustering parameters
    // Specify one of models
    // The chosen model must be also set true below
    //
    // 'inception', 'ctranspath', 'mocov3',
    // 'conch', 'uni', 'uni2', 
    // 'hoptimus0', 'hoptimus1', 'h0mini',
    // 'virchow', 'virchow2',
    // 'gigapath', 'gigapathf',
    // 'phikon', 'phikon2', 'midnight12k',
    //
    suffix_for_clustering            = 'ctranspath'
    expansion_factor_for_clustering  = 1 // one of expansion_factor values
    plot_dpi                         = 300

    device_mode_feature_extraction   = 'gpu' // 'gpu' or 'cpu'
    // Note: mocov3 will attempt to run on GPU regargless of the setting
    
    // Models to use
    run_all_models                   = false

    extract_inception_features       = params.run_all_models || false
    extract_transpath_features       = params.run_all_models || true
    extract_mocov3_features          = params.run_all_models || false
    extract_conch_features           = params.run_all_models || false
    extract_uni_features             = params.run_all_models || false
    extract_uni2_features            = params.run_all_models || false
    extract_hoptimus0_features       = params.run_all_models || false
    extract_hoptimus1_features       = params.run_all_models || false
    extract_h0mini_features          = params.run_all_models || false
    extract_virchow_features         = params.run_all_models || false
    extract_virchow2_features        = params.run_all_models || false
    extract_gigapath_features        = params.run_all_models || false
    extract_gigapathf_features       = params.run_all_models || false
    extract_phikon_features          = params.run_all_models || false
    extract_phikon2_features         = params.run_all_models || false
    extract_midnight12k_features     = params.run_all_models || false

    // Per-model batch sizes (see --batch-size in bin/run-extract.py: number
    // of pixels per batch, i.e. batch_size_in_tiles * tile_w * tile_h).
    // Larger tile encoders (uni/uni2/hoptimus*/virchow*/h0mini/gigapath*)
    // need a smaller pixel budget per batch to fit in GPU memory.
    inception_batch_size              = 60000000
    ctranspath_batch_size             = 40000000
    mocov3_batch_size                 = 60000000
    conch_batch_size                  = 30000000
    uni_batch_size                    = 70000000
    uni2_batch_size                   = 30000000
    hoptimus0_batch_size              = 30000000
    hoptimus1_batch_size              = 30000000
    h0mini_batch_size                 = 70000000
    virchow_batch_size                = 40000000
    virchow2_batch_size               = 40000000
    gigapath_batch_size               = 40000000
    gigapathf_batch_size              = 70000000
    phikon_batch_size                 = 60000000
    phikon2_batch_size                = 60000000
    midnight12k_batch_size            = 30000000

    // CONCH-specifc parameters
    use_conch_normalizer             = true

    // Stain normalization parameters
    stain_reference_image            = "/path/to/custom/reference/HE-image.tif"
    stain_patch_size                 = 512

    // Sample tiles subworkflow parameters       
    sts_hovernet_device_mode         = "gpu"

    // Nuclear segmentation parameters
    nuclei_segmentation_dir          = "nucseg"
    hovernet_segmentation            = true
    stardist_block_size              = 4096
    stardist_expand_size             = 15
    hovernet_spot_assignment_factor  = 1
    hovernet_spot_assignment_shape   = 'square'
    hovernet_min_cell_type_prob      = 0.75

    // HoVer-Net parameters
    hovernet_device_mode             = "gpu"
    gpu_hovernet_batch_size          = 32
    gpu_hovernet_num_inference_workers = 8
    gpu_hovernet_chunk_size          = 10000
    gpu_hovernet_tile_size           = 2048
    cpu_hovernet_batch_size          = 1
    cpu_hovernet_num_inference_workers = 1
    cpu_hovernet_chunk_size          = 4096
    cpu_hovernet_tile_size           = 1024

    // Superpixellation parameters
    export_superpixels_contours      = true
    superpixel_compactness           = 1
    pixels_per_segment               = 10000
    superpixel_patch_size            = 2048
    superpixel_downsampling_factor   = 4
    od_block_size                    = 4096
    expand_nuclei_distance           = 15
    
    // Sample tiles subworkflow parameters
    tiles_per_slide                  = 100
}
