params {

    stain_normalization               = true
    do_nuclear_sementation            = true
    do_superpixels                    = true
    export_superpixels_contours       = true
    check_focus                       = false
    do_imaging_anndata                = true

    target_mpp                        = 0.2208187960959237
    thumbnail_downsample_factor       = 0.025

    if (params.stain_normalization) {
        macenko_normalization         = true
        
        if (params.macenko_normalization) {
            stain_reference_image     = "/sdata/activities/kappsen-tmc/visium/cropped_capture_area/SC2300701_JDC-WP-008-b_patch.tiff"
        }
    }

    if (params.do_nuclear_sementation) {
        hovernet_segmentation         = true
        
        if (params.hovernet_segmentation) {
            hovernet_device_mode      = "gpu"
            
            if (params.hovernet_device_mode == 'gpu') {
                hovernet_batch_size               = 32
                hovernet_num_inference_workers    = 8
            }
            else if (params.hovernet_device_mode == 'cpu') {
                hovernet_batch_size               = 1
                hovernet_num_inference_workers    = 1  
            }    
        }
        else {
            stardist_block_size       = 4096
            stardist_expand_size      = 15
        }
    }

    if (params.do_superpixels) {
        superpixel_compactness        = 1
        pixels_per_segment            = 10000
        superpixel_patch_size         = 2048
        superpixel_downsampling_factor= 4
        
        expand_nuclei_distance        = 15
    }

}
