
params {

    do_img_subworkflow                = true
    check_focus                       = true
    
    do_nuclear_sementation            = false
    do_superpixels                    = false
    extract_tile_features             = false

    target_mpp                        = 0.22075
    
    tiled_tiff_tile_size              = 1024
    thumbnail_downsample_factor       = 0.05
    
    stain_normalization               = false
        
    grid_type                         = 'square'
    grid_spot_diamter                 = 100  
    grid_spot_horizontal_spacing      = 100
    
}
