
params {

    container_dir              = "/projects/chuang-lab/USERS/domans/containers"

    container_inception        = "${params.container_dir}/container-mamba-inception.sif"
    container_hovernet         = "${params.container_dir}/container-singularity-hovernet-py.sif"
    container_stainnet         = "${params.container_dir}/container-singularity-stainnet.sif"
    container_staintools       = "${params.container_dir}/container-singularity-staintools.sif"
    container_vips             = "${params.container_dir}/container-singularity-vips.sif"

    container_ctranspath       = "${params.container_dir}/local/mamba-timm.sif"
    container_deepfocus        = "${params.container_dir}/deepfocus.sif"
    container_ome              = "${params.container_dir}/local/ome.sif"

    container_xenome           = "/projects/compsci/omics_share/meta/containers/quay.io-jaxcompsci-xenome-1.0.1.img"

    container_xengsort         = "${params.container_dir}/local/mamba-xenomake.sif"
    container_fastqtools       = "${params.container_dir}/container-singularity-fastqtools.sif"
    container_spaceranger      = "${params.container_dir}/container-singularity-spaceranger.sif"

    container_bafextract       = "${params.container_dir}/container-singularity-bafextract.sif"
    container_samtools         = "${params.container_bafextract}"

    container_python           = "${params.container_dir}/container-singularity-python.sif"
    container_velocyto         = "${params.container_dir}/container-singularity-velocyto.sif"

}
