
params {

    do_img_subworkflow                = true
    check_focus                       = false
    do_nuclear_sementation            = false
    extract_tile_features             = true

    target_mpp                        = 0.25
    
    stain_normalization               = true
    macenko_normalization             = true
        
    grid_type                         = 'square'
    grid_spot_diamter                 = 100  
    grid_spot_horizontal_spacing      = 100

}