
params {

    // Request access on HugginFace and download the checkpoints
    // to a deirectory where only you have read access, and not shared with any other users
    path_to_private_cache            = "/projects/chuang-lab/USERS/domans/containers/private"

    // UNI: https://huggingface.co/MahmoodLab/UNI
    uni_model_checkpoint             = "${path_to_private_cache}/pytorch_model_uni_11_06_2024.bin"

    // UNI2: https://huggingface.co/MahmoodLab/UNI2-h
    uni2_model_checkpoint            = "${path_to_private_cache}/pytorch_model_uni2_04_16_2025.bin"
    
    // CONCH: https://huggingface.co/MahmoodLab/CONCH
    conch_model_checkpoint           = "${path_to_private_cache}/pytorch_model_conch_11_06_2024.bin"
    
    // H-optimus-0: https://huggingface.co/bioptimus/H-optimus-0
    hoptimus0_model_checkpoint       = "${path_to_private_cache}/pytorch_model_H-optimus-0_08-25-2026.bin"

    // H-optimus-1: https://huggingface.co/bioptimus/H-optimus-1
    hoptimus1_model_checkpoint       = "${path_to_private_cache}/pytorch_model_H-optimus-1.bin"

    // H0-mini: https://huggingface.co/bioptimus/H0-mini
    h0mini_model_checkpoint          = "${path_to_private_cache}/pytorch_model_H-optimus-mini.bin"

    // Virchow: https://huggingface.co/paige-ai/Virchow
    virchow_model_checkpoint         = "${path_to_private_cache}/pytorch_model_virchow_04_16_2025.bin"
    
    // Virchow2: https://huggingface.co/paige-ai/Virchow2
    virchow2_model_checkpoint        = "${path_to_private_cache}/pytorch_model_virchow2_04_16_2025.bin"

    // Phikon: https://huggingface.co/owkin/phikon
    phikon_model_checkpoint          = "${path_to_private_cache}/pytorch_model_phikon.bin"

    // Phikon-v2: https://huggingface.co/owkin/phikon-v2
    // Download "config.json", "preprocessor_config.json" and "model.safetensors" into a directory "model-phikon2"
    phikonv2_model_checkpoint        = "${path_to_private_cache}/model-phikon2"

    // prov-gigapath: https://huggingface.co/prov-gigapath/prov-gigapath
    gigapath_model_checkpoint        = "${path_to_private_cache}/pytorch_model_prov-gigapath.bin"

    // prov-gigapath-flash: https://huggingface.co/prov-gigapath/prov-gigapath-flash
    gigapathf_model_checkpoint       = "${path_to_private_cache}/pytorch_model_prov-gigapath-flash.bin"

    // Kaiko-Midnight12k: https://huggingface.co/kaiko-ai/midnight
    // Download "config.json" and "model.safetensors" into a directory "model-kaikoMidnight12k"
    midnight_model_checkpoint        = "${path_to_private_cache}/model-kaikoMidnight12k"

    // Inception V3: https://huggingface.co/timm/inception_v3.tv_in1k
    inception_model_checkpoint       = "${path_to_private_cache}/pytorch_model_inceptionv3.bin"

    // ...

    // Download and unzip https://github.com/stardist/stardist-models/releases/download/v0.1/python_2D_versatile_he.zip
    stardist_model                   = "/projects/chuang-lab/USERS/domans/containers/stardist-models.v0.1/python_2D_versatile_he/" 
    
    // Use the checkpoint bundled inside the deepfocus container, or tune a custom model
    deepfocus_model_path             = "/deepfocus/"
    // deepfocus_model_path             = "/projects/chuang-lab/USERS/domans/dev-focus/retrained-t0t1/"

    // Use the checkpoint bundled inside the ctranspath container
    ctranspath_model_checkpoint      = "/TransPath/ctranspath.pth"
    mocov3_model_checkpoint          = "/TransPath/vit_small.pth.tar"

}