
process {
    withLabel: vips_process {
        cpus = 1
        memory = 3.GB
        container = params.container_vips
    }
    withLabel: process_ome {
        cpus = 1
        container = params.container_ome
    }
    withName: TIFFFILE_OMETIFF {
        cpus = 4
        container = params.container_python
    }
    withLabel: process_estimate_size {
        cpus = 1
        memory = 2.GB
        container = params.container_inception
    }
    withLabel: process_extract {
        cpus = 1
        container = params.container_inception
        clusterOptions = '--time=03:00:00'
    }
    withLabel: stain_normalization_process {
        cpus = 1
        container = params.container_staintools
        clusterOptions = '--time=10:00:00'
    }
    withLabel: python_process_low {
        cpus = 1
        container = params.container_inception
        clusterOptions = '--time=02:00:00'
    }
    withLabel: process_focus {
        cpus = 16
        container = params.container_deepfocus
        clusterOptions = '--time=16:00:00'
    }
}
