
process {
    withLabel: process_stardist {
        cpus = 4
        container = params.container_inception
        clusterOptions = '--time=36:00:00'
    }
    withLabel: process_hovernet_low {
        cpus = 1
        memory = 3.GB
        container = params.container_hovernet
        clusterOptions = '--time=02:00:00'
    }
    withLabel: process_hovernet {
        container = params.container_hovernet
        if (params.hovernet_device_mode == 'gpu') {
            resourceLimits = [ cpus: 46, memory: 170.GB, time: 6.h ]
            cpus = 8
            clusterOptions = '--time=06:00:00 -q gpu_inference --gres=gpu:1 --export=ALL'
            containerOptions = '--nv'
            queue = 'gpu_v100'
        }
        else if (params.hovernet_device_mode == 'cpu') {
            cpus = 10
            clusterOptions = '--time=48:00:00'
        }
    }
    withLabel: process_post_hovernet {
        container = params.container_hovernet
        cpus = 16
    }
}
