
process {
    withLabel: process_inception {
        container        = params.container_uni_conch
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_ctranspath {
        container        = params.container_ctranspath
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_mocov3 {
        container        = params.container_ctranspath
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_conch {
        container        = params.container_uni_conch
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_uni {
        container        = params.container_uni_conch
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_uni2 {
        container        = params.container_uni_conch
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_hoptimus0 {
        container        = params.container_uni_conch
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_hoptimus1 {
        container        = params.container_uni_conch
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_h0mini {
        container        = params.container_uni_conch
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_virchow {
        container        = params.container_uni_conch
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_virchow2 {
        container        = params.container_uni_conch
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_gigapath {
        container        = params.container_uni_conch
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_gigapathf {
        container        = params.container_gigapathf
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_phikon {
        container        = params.container_uni_conch
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_phikon2 {
        container        = params.container_uni_conch
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
    withLabel: process_midnight12k {
        container        = params.container_uni_conch
        cpus             = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cpus : params.features_cpu_ncpus
        resourceLimits   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_resource_limits : params.cpu_resource_limits
        clusterOptions   = params.device_mode_feature_extraction == 'gpu' ? params.gpu_cluster_opts : params.features_cpu_cluster_opts
        containerOptions = params.device_mode_feature_extraction == 'gpu' ? params.gpu_container_opts : params.cpu_container_opts
        queue            = params.device_mode_feature_extraction == 'gpu' ? params.gpu_partition : params.cpu_partition
    }
}
