
process {
    withName: GUNZIP {
        cpus = 1
        memory = 20.GB
        container = params.container_vips
        clusterOptions = '--time=01:00:00'
    }
    withName: GUNZIP_FASTA {
        cpus = 1
        memory = 20.GB
        container = params.container_vips
        clusterOptions = '--time=01:00:00'
    }
        withName: DECONVOLUTION_XENOME {
        cpus = 8
        memory = 50.GB
        container = params.container_xenome
        clusterOptions = '--time=06:00:00'
    }
    withName: DECONVOLUTION_XENGSORT {
        cpus = 8
        memory = 50.GB
        container = params.container_xengsort
        clusterOptions = '--time=06:00:00'
    }
    withName: XENOME_GENERATE_INDEX {
        cpus = 16
        memory = 100.GB
        container = params.container_xenome
        clusterOptions = '--time=06:00:00'
    }
    withName: XENGSORT_GENERATE_INDEX {
        cpus = 32
        memory = 50.GB
        container = params.container_xengsort
        clusterOptions = '--time=01:00:00'
    }	
    withLabel: low_process {
        cpus = 1
        memory = 8.GB
        container = params.container_fastqtools
    }
    withLabel: samtools {
        cpus = 4
        memory = 64.GB
        container = params.container_samtools
        clusterOptions = '--time=03:00:00'
    }
    withLabel: splicing_quantification {
        cpus = 1
        memory = 64.GB
        container = params.container_velocyto
        clusterOptions = '--time=09:00:00'
    }    
    withLabel: python_low_process {
        cpus = 1
        memory = 12.GB
        container = params.container_python
        clusterOptions = '--time=01:00:00'
    }
    withName: SPACERANGER {
        cpus = 8
        memory = 90.GB
        container = params.container_spaceranger
        clusterOptions = '--time=24:00:00'
    }
    withLabel: bafextract {
        cpus = 1
        memory = 36.GB
        container = params.container_bafextract
        clusterOptions = '--time=03:00:00'
    }
}
