
params {

    gpu_cpus                    = 10
    gpu_cluster_opts            = '--time=03:00:00 -q gpu_inference --gres=gpu:1 --export=ALL'
    gpu_container_opts          = '--nv'
    gpu_partition               = 'gpu_a100'
    gpu_resource_limits         = [ cpus: 46, memory: 170.GB, time: 6.h ]

    features_cpu_ncpus          = 10
    features_cpu_cluster_opts   = '--time=24:00:00'
    cpu_container_opts          = ''
    cpu_partition               = 'compute'
    cpu_resource_limits         = [ cpus: 70, memory: 768.GB, time: 72.h ]

}
